# **WEBSCRAPING DATA**

In [7]:
import pandas as pd

In [1]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [2]:
from bs4 import BeautifulSoup
import requests

**Download the webpage at the url**

In [3]:
data=requests.get(url).text

In [4]:
soup = BeautifulSoup(data, "html5lib")

In [8]:
# in html anchor/link is represented by the tag <a>
for link in soup.find_all('a'):  
    print(link.get('href'))
# in html image is represented by the tag <img>
for link in soup.find_all('img'):
    print(link.get('src'))

In [12]:
df = pd.DataFrame(columns=['Language Name', 'Average Salary'])

for row in soup.find("tbody").find_all("tr"):
  col = row.find_all("td")
  language = col[1].text
  salary = col[3].text

  df = df.append({'Language Name' : language, 'Average Salary' : salary}, ignore_index=True)

#drop first row
df.drop(index=df.index[0], axis=0, inplace=True)

df

   Language Name Average Salary
1         Python       $114,383
2           Java       $101,013
3              R        $92,037
4     Javascript       $110,981
5          Swift       $130,801
6            C++       $113,865
7             C#        $88,726
8            PHP        $84,727
9            SQL        $84,793
10            Go        $94,082

In [17]:
df=pd.DataFrame()
# in html table is represented by the tag <table>
table = soup.find('table') 
# in html table row is represented by the tag <tr>
for row in table.find_all('tr'): 
    # in html a column is represented by the tag <td>
    cols = row.find_all('td') 
    # store the value in column 3 as color_name
    color_name = cols[1].getText() 
    # store the value in column 4 as color_code
    color_code = cols[3].getText() 
    df = df.append({'A' : color_name, 'B' :color_code}, ignore_index=True)
df.drop(index=df.index[0], axis=0, inplace=True)
df

             A         B
1       Python  $114,383
2         Java  $101,013
3            R   $92,037
4   Javascript  $110,981
5        Swift  $130,801
6          C++  $113,865
7           C#   $88,726
8          PHP   $84,727
9          SQL   $84,793
10          Go   $94,082

In [9]:
from selenium import webdriver
from time import sleep

In [10]:
#1.Khai bao biáº¿n browser
browser=webdriver.Chrome(executable_path="C:/Users/ddtha/Downloads/chromedriver_win32/chromedriver.exe")
#2.Mo thu mot trang web
browser.get("https://www.facebook.com")
#3.Dung chuong trinh 5s
sleep(10)
#4.Dong trinh duyet
browser.close()

C:\Users\ddtha\AppData\Local\Temp/ipykernel_10252/1412983424.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser=webdriver.Chrome(executable_path="C:/Users/ddtha/Downloads/chromedriver_win32/chromedriver.exe")